.list {
  border: 1px solid var(--color-blue);
  box-shadow: var(--box-shadow);
  list-style: none;
}

.listEmpty {
  margin-top: 50px;
  text-align: center;
  color: grey;
}

.tabsList {
  display: flex;
  border-bottom: 1px solid var(--color-light-grey);
}

.tabsTrigger {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  padding: 0 20px;
  height: 45px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-blue);
  background-color: white;
  border: none;
  user-select: none;

  &[data-state="active"] {
    color: var(--color-white);
    background-color: var(--color-blue);
    cursor: pointer;
  }

  &:not([data-state="active"]) {
    &:not(:disabled) {
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid var(--color-light-grey);
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.tabsContent {
  padding: 15px 20px;
}
